In [175]:
import pandas as pd
df=pd.read_excel('FinalJeeRank.xlsx')
#s=pd.read_excel('RankData2.xlsx')
df1=df[1:]
df.head()

,Percentage,Total Marks of the Paper,Paper Difficulty Physics,Paper Diffficulty Chemistry,Paper Difficulty Maths,Rank
0,76.11,408,2.725,2.99,3.125,200
1,76.11,408,2.725,2.99,3.125,201
2,75.87,408,2.725,2.99,3.125,202
3,75.87,408,2.725,2.99,3.125,203
4,75.87,408,2.725,2.99,3.125,204

In [176]:
df1.head()

,Percentage,Total Marks of the Paper,Paper Difficulty Physics,Paper Diffficulty Chemistry,Paper Difficulty Maths,Rank
1,76.11,408,2.725,2.99,3.125,201
2,75.87,408,2.725,2.99,3.125,202
3,75.87,408,2.725,2.99,3.125,203
4,75.87,408,2.725,2.99,3.125,204
5,75.87,408,2.725,2.99,3.125,205

In [177]:
corr_matrix = df1.corr()
corr_matrix['Rank'].sort_values(ascending=False)

Rank                           1.000000
Paper Difficulty Physics      -0.540515
Total Marks of the Paper      -0.626027
Paper Diffficulty Chemistry   -0.651092
Paper Difficulty Maths        -0.672363
Percentage                    -0.820754
Name: Rank, dtype: float64

In [178]:
df1.head()

,Percentage,Total Marks of the Paper,Paper Difficulty Physics,Paper Diffficulty Chemistry,Paper Difficulty Maths,Rank
1,76.11,408,2.725,2.99,3.125,201
2,75.87,408,2.725,2.99,3.125,202
3,75.87,408,2.725,2.99,3.125,203
4,75.87,408,2.725,2.99,3.125,204
5,75.87,408,2.725,2.99,3.125,205

In [179]:
corr_matrix = df1.corr()
corr_matrix['Rank'].sort_values(ascending=False)

Rank                           1.000000
Paper Difficulty Physics      -0.540515
Total Marks of the Paper      -0.626027
Paper Diffficulty Chemistry   -0.651092
Paper Difficulty Maths        -0.672363
Percentage                    -0.820754
Name: Rank, dtype: float64

In [180]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8450 entries, 1 to 8450
Data columns (total 6 columns):
Percentage                     8450 non-null float64
Total Marks of the Paper       8450 non-null int64
Paper Difficulty Physics       8450 non-null float64
Paper Diffficulty Chemistry    8450 non-null float64
Paper Difficulty Maths         8450 non-null float64
Rank                           8450 non-null int64
dtypes: float64(4), int64(2)
memory usage: 396.2 KB

In [199]:
#df1x= df1.drop("Rank" , axis = 1)
#df1y= df1['Rank']

In [200]:
import matplotlib.pyplot as plt 
import numpy as np 
from sklearn import datasets, linear_model, metrics 


# defining feature matrix(X) and response vector(y) 
X = df1.drop("Rank" , axis = 1)
y = df1['Rank']

from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [201]:
# Fitting Random Forest Regression to the dataset 
# import the regressor 
from sklearn.ensemble import RandomForestRegressor 

# create regressor object 
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) 

# fit the regressor with x and y data 
regressor.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [202]:
y_pred=regressor.predict(X_test)

In [203]:
import math
import sklearn

In [204]:
mse = sklearn.metrics.mean_squared_error(y_test, y_pred)

rmse = math.sqrt(mse)
print(rmse)

81.94542942228057

In [205]:
#2019
y_pred = print(regressor.predict([[55.65,372 ,2.31, 1.92, 2.35]]))

[2069.5215702]

In [206]:
#2018
y_pred = print(regressor.predict([[93,360 , 1.92, 2.36, 1.96]]))

[13.]

In [207]:
#2017
y_pred = print(regressor.predict([[42.8,372,1.71, 2.25, 1.84]]))

[17024.97142857]

In [208]:
#2016
y_pred = print(regressor.predict([[31.72,372, 2.21, 2.16, 2.13]]))

[8292.11666667]

In [ ]:
        p     c    m
2019:  2.31  1.92,   2.35
2018 : 1.92 2.36 ,1.97    
2017: 1.71 2.25,1.84
2016: 2.21, 2.16 ,2.13    
2015 : 2.07 , 2.21 , 2.31
2014 : 2.919 , 2.695 , 2.430    
2013 : 1.73 , 2.23 ,2.18

In [209]:
#2014
y_pred = print(regressor.predict([[31.72,408 ,2.919, 2.695, 2.430]]))

[13507.59214929]

In [210]:
#2013
y_pred = print(regressor.predict([[38.88,360, 1.73, 2.23, 2.18]]))

[11129.17619048]